#root {
    width: 100%;
    margin: 0 auto;
}
.contenedor{
    width: 100%;
    margin: 0 auto;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #213547;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}