body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.huerto,
.hortaliza,
.frutal,
.huerto-frutal {
  width: 100vw; 
  padding: 20px;
  box-sizing: border-box; 
  margin: 0;
}

.huerto {
  background-color: #ffa07a; 
}

.hortaliza {
  background-color: #20b2aa; 
}

.frutal {
  background-color: #d3d3d3; 
}

.huerto-frutal {
  background-color: #ffa07a;
}

h1,
h2 {
  font-weight: bold;
  text-align: left; 
}

input,
button {
  display: block;
  margin: 10px 0; 
}

p {
  text-align: left; 
  margin: 5px 0; 
}
