<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu brásicas</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/brecol">Brocoli</a> <!--En routerLink usamos los nombres que hemos puesto en los path de a "app-routing.module.ts"-->
      <a mat-list-item routerLink="/repollo">Col Berza</a> <!--En routerLink usamos los nombres que hemos puesto en los path de a "app-routing.module.ts"-->
      <a mat-list-item routerlink="/lombarda">Lombarda</a> <!--En routerLink usamos los nombres que hemos puesto en los path de a "app-routing.module.ts"-->
      <a mat-list-item routerlink="/coliflor">Coliflor</a> <!--En routerLink usamos los nombres que hemos puesto en los path de a "app-routing.module.ts"-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Menú material</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet> <!-- Aquí agregamos el router-outlet Punto inicio del examen.-->
  </mat-sidenav-content>
</mat-sidenav-container>
