<div>
  <h1 mat-dialog-title>Añadir fruta</h1>
  <div mat-dialog-content>
      <div class="contenedor" >

          <mat-form-field>
              <input matInput [(ngModel)]="data.id" type="number" placeholder="inserta id">
          </mat-form-field>

          <mat-form-field>
              <input matInput [(ngModel)]="data.nombre" type="text" placeholder="inserta  nombre">
          </mat-form-field>

          <mat-form-field>
              <input matInput [(ngModel)]="data.precio" type="number" placeholder="inserta precio">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="data.unidades" type="number" placeholder="inserta unidades">
          </mat-form-field>
          <mat-form-field>
             <input matInput [(ngModel)]="data.imagen" type="text" placeholder="inserta imagen">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="data.imagen" type="text" placeholder="insetar imagen">
          </mat-form-field>

      </div>
  </div>
  <div mat-dialog-actions>
      <button mat-button (click)="Cancelar()">Cancelar</button>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
  </div>
</div>
