<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Equipo</th>
            <th>Nacionalidad</th>
            <th>Edad</th>
            <th>Dorsal</th>
            <th>Goles</th>
            <th>Seleccionar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of listarFutbolistas">
          <td>{{f.nombre}}</td>
          <td>{{f.equipo}}</td>
          <td>{{f.nacionalidad}}</td>
          <td>{{f.edad}}</td>
          <td>{{f.dorsal}}</td>
          <td>{{f.goles}}</td>
          <td><button class="btn btn-info" (click)="seleccionar(f)">Seleccionar</button></td>
          <td><button class="btn btn-danger" (click)="eliminar(f)">Eliminar</button></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-4">
      <h3>Formulario Insertar Modificar</h3>
      <div class="form-group">
        <label for="nombre"></label>
        <input type="text" class="form-control" placeholder="Teclea nombre" [(ngModel)]="futbolistaSeleccionado.nombre">
      </div>

      <div class="form-group">
        <label for="equipo"></label>
        <input type="text" class="form-control" placeholder="Teclea equipo" [(ngModel)]="futbolistaSeleccionado.equipo">
      </div>

      <div class="form-group">
        <label for="nacionalidad"></label>
        <input type="text" class="form-control" placeholder="Teclea nacionalidad" [(ngModel)]="futbolistaSeleccionado.nacionalidad">
      </div>

      <div class="form-group">
        <label for="edad"></label>
        <input type="text" class="form-control" placeholder="Teclea edad" [(ngModel)]="futbolistaSeleccionado.edad">
      </div>

      <div class="form-group">
        <label for="dorsal"></label>
        <input type="text" class="form-control" placeholder="Teclea dorsal" [(ngModel)]="futbolistaSeleccionado.dorsal">
      </div>

      <div class="form-group">
        <label for="goles"></label>
        <input type="text" class="form-control" placeholder="Teclea goles" [(ngModel)]="futbolistaSeleccionado.goles">
      </div>

      <button class="btn btn-info" (click)="modificar()">Modificar</button>
      <button class="btn btn-danger" (click)="crear()">Crear</button>
    </div>
  </div>

</div>
