<div>
  <h1 mat-dialog-title>Añadir</h1>
  <div mat-dialog-content>
    <div class="contenedor">

      <mat-form-field>
        <input matInput [(ngModel)]="data.indice" type="text" placeholder="Inserta Ińdice">
      </mat-form-field>


      <mat-form-field>
        <input matInput [(ngModel)]="data.n1" type="text" placeholder="Inserta n1">
      </mat-form-field>


      <mat-form-field>
        <input matInput [(ngModel)]="data.n2" type="text" placeholder="Inserta n2">
      </mat-form-field>


      <mat-form-field>
        <input matInput [(ngModel)]="data.n3" type="text" placeholder="Inserta n3">
      </mat-form-field>


      <mat-form-field>
        <input matInput [(ngModel)]="data.n4" type="number" placeholder="Inserta n4">
      </mat-form-field>


      <mat-form-field>
        <input matInput [(ngModel)]="data.n5" type="number" placeholder="Inserta n5">
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="data.n6" type="number" placeholder="Inserta n6">
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
  </div>
</div>

