<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-auto">
      <a routerLink="login" class="btn btn-primary m-2">Login</a>
      <a routerLink="registro" class="btn btn-info m-2">Registro</a>
      <a routerLink="chat" class="btn btn-success m-2">Chat</a>
      <a routerLink="chatP" class="btn btn-danger m-2">Chat_P</a>
      <a routerLink="admin" class="btn btn-secondary">Admin</a>

    </div>

  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
